<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>roll the dice </title>
</head>
<body>
 <h1>Dice give Value :<%= nums %> </h1> 
 <% if(nums==6){ %>
   <h2>Nice: Roll dice Again</h2>
    <% }%>
</body>
</html>